body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* 薄いグレイ */
}

.button {
    background-color: #dbdbdb; /* 薄いグレイ */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #818181; /* 少し濃いグレイ */
    color:white;
}