<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>肥満判定アプリ</title>
</head>
<body>
    <h1>肥満判定アプリ</h1>
    <form action=""/predict" method="post">
        <label for="height">身長(cm)</label>
        <input type="text" name="height" id="height" required>
        <br>
        <label for="weight">体重(kg)</label>
        <input type="text" name="weight" id="weight" required>
        <br>
        <button type="submit">判定</button>
</body>
</html>